[Unit]
Description=Control de Puntos Docentes UNRC - institucional v2.3.1
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=controlpuntos
Group=controlpuntos
WorkingDirectory=/opt/control-puntos-docentes
EnvironmentFile=/etc/control-puntos-docentes/control-puntos-docentes.env
ExecStartPre=/usr/bin/npm run db:migrate
ExecStartPre=/usr/bin/npm run db:bootstrap
ExecStartPre=/usr/bin/npm run verify:config
ExecStart=/usr/bin/node /opt/control-puntos-docentes/.next/standalone/server.js
Restart=on-failure
RestartSec=5
TimeoutStopSec=20
UMask=0027

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
ProtectClock=true
ProtectHostname=true
PrivateDevices=true
RestrictSUIDSGID=true
CapabilityBoundingSet=
AmbientCapabilities=
SystemCallArchitectures=native
TasksMax=512
ReadWritePaths=/var/lib/control-puntos-docentes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

[Install]
WantedBy=multi-user.target
